<div id="articles-and-form-container">

  <%= render partial: 'articles/header' %>

  <div class="archive-view-header">
    <%= @month.strftime('%B %Y') %>
  </div>

  <div id="articles">
    <%= render @articles %>
  </div>

  <%= will_paginate @articles %>

</div>
