<div id="container">

  <div id="articles-and-form-container">

    <div class="archive-view-header">
      <%= @month.strftime('%B %Y') %>
    </div>

    <% @articles.each do |article| %>
      <%= render partial: 'articles/article', locals: { article: article } %>
    <% end %>

  </div>

  <div id="archive">
    <%= render partial: 'articles/archive' %>
  </div>

  <div class="clear"></div>

</div>
