<div class="archive-header">
  Archive
</div>

<div id="login">
  <% if logged_in? %>
    <%= link_to "Sign out", sign_out_path %>
  <% else %>
    <%= link_to "Sign in", session_path, onclick: 'login()', remote: true %>
  <% end %>
</div>

<% @archive.each do |year, articles| %>

  <div class="year-block">

    <div class="year">
      <%= year %>
    </div>

    <% months = articles.group_by { |article| article.created_at.strftime("%b") } %>

    <div class="month-links">
      <% months.to_a.reverse.to_h.each do |month, articles| %>
        <%= link_to month, month_path(articles[0].created_at.strftime('%Y-%m')) %>
      <% end %>
    </div>

  </div>

<% end %>
