<%= form_for :session, url: new_session_path do |form| %>

  <div class='login-header'>
    Sign in
  </div>

  <div>
    <%= form.text_field :email, type: 'email', placeholder: 'Email',
        class: 'sign-in-field' %>
  </div>

  <div>
    <%= form.password_field :password, placeholder: 'Password',
        class: 'sign-in-field' %>
  </div>

  <div>
    <%= form.submit 'Welcome', class: 'sign-in-button' %>
  </div>

<% end %>
