<%= form_for :user, url: session_path do |form| %>

  <div class='login-header'>
    Sign in
  </div>

  <div>
    <%= form.text_field :email, type: 'email', placeholder: 'Email',
        value: 'guest@website.com', class: 'sign-in-field', readonly: true %>
  </div>

  <div>
    <%= form.password_field :password, placeholder: 'Password',
        value: 'password', class: 'sign-in-field', readonly: true %>
  </div>

  <div>
    <%= form.submit 'Welcome', class: 'sign-in-button' %>
  </div>

<% end %>

<!-- <script>
$('.demo').click(function(event){
   event.preventDefault();
   $("input[name='user[email]']").val('guest');
   $("input[name='user[password]']").val('password');
   $('.login').click();
 })
</script> -->
