<%= form_for :user, url: new_session_path, method: :get do |form| %>

  <div class='login-header'>
    Sign in
  </div>

  <div>
    <%= form.submit 'Welcome', class: 'sign-in-button' %>
  </div>

<% end %>
