<%= form_for :password, url: passwords_path do |form| %>

<div class='login-header'>
  Email
</div>

  <div>
    <%= form.text_field :email, type: 'email', class: 'sign-in-field' %>
  </div>

  <div>
    <%= form.submit 'Reset password', class: 'sign-in-button' %>
  </div>

  <div>
    <%= link_to 'Sign in', new_session_path, class: 'sign-in-button',
        onclick: 'login("login-form", "signup-form")', remote: true %>
  </div>

<% end %>
