<div id="container">

  <div id="articles-and-form-container">

    <div id="form">
      <%= render partial: 'form', locals: { remote: false } %>
    </div>

    <div id="articles">
      <% @articles.each do |article| %>
        <%= render partial: 'article', locals: { article: article } %>
      <% end %>
    </div>

  </div>

  <div id="archive">
    <%= render partial: 'archive' %>
  </div>

  <div class="clear"></div>

</div>
