<%= render partial: 'form', locals: { remote: false } %>

<div id="articles">

  <% @articles.each do |article| %>

    <%= render partial: 'article', locals: { article: article } %>

  <% end %>

</div>
