<%= render partial: 'form', locals: { remote: false } %>

<div id="container">
  
  <div id="articles">

    <% @articles.each do |article| %>

      <%= render partial: 'article', locals: { article: article } %>

    <% end %>

  </div>

  <div id="archive">

    <%= render partial: 'archive' %>

  </div>

  <div class="clear"></div>

</div>
