<div id="articles-and-form-container">

  <%= render partial: 'articles/header' %>

  <div id="form">
    <% if signed_in? && @articles.current_page == 1 %>
      <%= render partial: 'form', locals: { remote: false } %>
    <% end %>
  </div>

  <div id="articles">
    <%= render @articles %>
  </div>

  <%= will_paginate @articles %>

</div>
