<div id="container">

  <div id="articles-and-form-container">

    <div id="header">
        <%= link_to 'JOURNAL', articles_path %>
    </div>

    <div id="articles">
      <%= render partial: 'article', locals: { article: @article } %>
    </div>

  </div>

  <div id="archive">
    <%= render partial: 'archive' %>
  </div>

  <div id="tag-box">
    <%= render partial: 'tags' %>
  </div>

  <div class="clear"></div>

</div>
