<div id="container">

  <div id="articles-and-form-container">

    <div id="header">
        <%= link_to 'JOURNAL', articles_path %>
    </div>

    <div class="archive-view-header">
      <%= "Posts tagged with: #{@tag.name}" %>
    </div>

    <% @articles.each do |article| %>
      <%= render partial: 'articles/article', locals: { article: article } %>
    <% end %>

  </div>

  <div id="archive">
    <%= render partial: 'articles/archive' %>
  </div>

  <div class="clear"></div>

</div>
