// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome";

body {
  background-color: #F0F3F7;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.scrolling {
  position: fixed !important;
}

#container {
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-bo‌​x-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 20px;
}

#header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 10px;
}

#articles-and-form-container {
  width: 50%;
  float: left;
  margin-left: 100px;
}

#archive-and-tags-container {
  width: 325px;
  float: right;
  margin-right: 100px;
}

#tag-box {
  padding-top: 20px;
}

#tag-collection {
  word-spacing: 10px;
  line-height: 150%;
}

#sign-in-link {
  display: inline-block;
  float: right;
  padding-top: 28px;
  padding-right: 15px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

#login-form {
  display: none;
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  background: white;
  width: 300px;
  height: 285px;
  margin-left: -150px;
  margin-top: -200px;
  z-index: 200;
  padding: 0 !important;
}

#login-form form {
  padding: 35px;
}

#login-form input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#login-form a {
  font-weight: 400;
}

#login-form .sign-in-button {
  padding: 12px 32px;
}

#signup-form {
  display: none;
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  background: white;
  width: 300px;
  height: 400px;
  margin-left: -150px;
  margin-top: -200px;
  z-index: 200;
  padding: 0 !important;
}

#signup-form form {
  padding: 35px;
}

#signup-form input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#signup-form a {
  font-weight: 400;
}

#signup-form .sign-in-button {
  padding: 12px 32px;
}

#password-form {
  display: none;
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  background: white;
  width: 300px;
  height: 400px;
  margin-left: -150px;
  margin-top: -200px;
  z-index: 200;
  padding: 0 !important;
}

#password-form form {
  padding: 35px;
}

#password-form input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#password-form a {
  font-weight: 400;
}

#password-form .sign-in-button {
  padding: 12px 32px;
}

.login-header {
  text-align: center;
  font-size: 25px;
  padding-bottom: 30px;
}

.sign-in-field {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #C2C6CF;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
  -webkit-box-sizing: border-box;
  display: block;
}

.sign-in-field:focus {
  outline: none;
  border: 1px solid #B2C6EF;
}

.sign-in-button {
  height: 45px;
  width: 100%;
  background-color: #54C271;
  padding: 10px 32px;
  margin-top: 20px;
  color: white !important;
  outline: none;
  border-radius: 3px;
  border: none;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  -webkit-box-sizing: border-box;
  display: block;
}

.sign-in-button:hover {
  background-color: #6DD87B;
}

.password-link {
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 12px;
}

.archive-header {
  display: inline-block;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.archive-view-header {
  font-size: 30px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.year-block {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.year {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 10px;
  left: 0;
}

.month-links {
  display: inline-block;
  word-spacing: 2px;
  padding-left: 64px;
}

.tags-header {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.clear {
  clear: both;
}

form {
  padding-top: 10px;
  padding-bottom: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #C2C6CF;
  border-color: #C2C6CF #C2C6CF white #C2C6CF;
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  resize: none;
  padding: 20px 20px;
  font-weight: 100;
  -webkit-box-sizing: border-box;
  display: block;
  line-height: 150%;
}

textarea:focus {
  border: 1px solid #B2C6EF;
  border-color: #C2C6CF #C2C6CF white #C2C6CF;
  font-weight: 100;
  outline: none;
}

input[type="text"] {
  width: 100%;
  height: 20px;
  border: 1px solid #C2C6CF;
  border-color: white #C2C6CF #C2C6CF #C2C6CF;
  border-radius: 0 0 5px 5px;
  margin-top: -1px;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  resize: none;
  font-weight: 100;
  -webkit-box-sizing: border-box;
  display: block;
  color: #859E96;
}

input[type="text"]:focus {
  border: 1px solid #B2C6EF;
  border-color: white #C2C6CF #C2C6CF #C2C6CF;
  outline: none;
}

::placeholder {
  color: #859E96;
}

.save-button {
  width: 120px;
  background-color: #54C271;
  color: white;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  margin-right: 10px;
}

.cancel-button {
  width: 120px;
  background-color: #F0F3F7;
  color: #202327;
  outline: none;
  border-radius: 3px;
  border: #C2C6CF;
  padding: 15px 32px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
}

.save-button:hover {
  background-color: #6DD87B;
  color: #ECFAEF;
}

.save-button:disabled {
  background-color: #E6E9EE;
  color: #859E96;
}

.cancel-button:hover {
  background-color: #E8EAEF;
  color: black;
}

.buttons {
  padding-top: 20px;
  padding-bottom: 10px;
}

.timestamp {
  display: inline-block;
  font-size: 18px;
}

.pencil {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
}

.trash {
  display: inline-block;
  padding-right: 10px;
  visibility: hidden;
}

.confirm-delete {
  display: none;
  word-spacing: 3px;
}

.article {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  line-height: 150%;
}

.article:hover .pencil {
  visibility: visible;
}

.article:hover .trash {
  visibility: visible;
}

.article-content {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
}

.tags {
  font-size: 14px;
}

a, a:visited {
  color: #859E96;
  text-decoration: none;
}

a:hover {
  color: #5D6E69;
  cursor: pointer;
}

.back {
  padding-left: 20px;
  padding-top: 10px;
}

.pagination {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  word-spacing: 10px;
}
