// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome";

// colors
$light-green: #F0F3F7;
$bright-green: #54C271;
$dark-bright-green: #6DD87B;
$medium-green: #859E96;
$grey-green: #C2C6CF;

// breakpoints
$breakpoint-mobile: 750px;

// font
$font-family: 'Roboto', sans-serif;
$font-size-large: 30px;
$font-size-medium-large: 25px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-weight-light: 400;
$font-weight-lighter: 100;

// mixins
@mixin border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-bo‌​x-sizing: border-box;
  -ms-box-sizing: border-box;
}

@mixin input {
  @include border-box;
  width: 100%;
  border: 1px solid $grey-green;
  border-radius: 5px;
  padding: 20px;
  display: block;
  resize: none;

  &:focus {
    border: 1px solid #B2C6EF;
    outline: none;
  }
}

@mixin button {
  outline: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none !important;
}

// styles
body {
  background-color: $light-green;
  font-family: $font-family;
  margin: 0;
}

.scrolling {
  position: fixed !important;
}

#container {
  @include border-box;
  overflow: hidden;
  padding: 20px 30px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: stretch;
  justify-content: space-between;

  @media screen and (min-width: 850px) {
    padding: 20px 100px;
  }
}

#header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: $font-size-large;
  letter-spacing: 10px;
}

#articles-and-form-container {
  flex-grow: 1;

  @media screen and (min-width: $breakpoint-mobile) {
    max-width: 50vw;
  }
}

#archive-and-tags-container {
  width: 325px;
  margin-left: 20px;
  flex-shrink: 0;
  display: none;

  @media screen and (min-width: $breakpoint-mobile) {
    display: block;
  }
}

#tag-box {
  padding-top: 20px;
}

#tag-collection {
  word-spacing: 10px;
  line-height: 150%;
}

#sign-in-link {
  font-size: $font-size-regular;
  margin-right: 5px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 1;
}

#login-form {
  display: none;
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  background: white;
  width: 300px;
  height: 285px;
  margin-left: -150px;
  margin-top: -200px;
  z-index: 2;
  padding: 0 !important;

  form {
    padding: 35px;
  }

  input {
    font-family: $font-family;
    font-weight: $font-weight-light;
  }

  a {
    font-weight: $font-weight-light;
  }

  .sign-in-button {
    padding: 12px 32px;
  }
}

.login-header {
  text-align: center;
  font-size: $font-size-medium-large;
  padding-bottom: 30px;
}

.sign-in-field {
  @include input;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.sign-in-button {
  @include border-box;
  @include button;
  height: 45px;
  width: 100%;
  background-color: $bright-green;
  padding: 10px 32px;
  margin-top: 20px;
  color: white !important;
  border: none;
  display: inline-block;
  font-size: $font-size-regular;
  font-weight: $font-weight-lighter;
  display: block;

  &:hover {
    background-color: $dark-bright-green;
  }
}

.archive-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  font-size: $font-size-medium-large;
}

.archive-view-header {
  font-size: $font-size-large;
  padding-top: 10px;
  margin-bottom: 20px;
}

.year-block {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.year {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 10px;
  left: 0;
}

.month-links {
  display: inline-block;
  word-spacing: 2px;
  padding-left: 64px;
}

.tags-header {
  font-size: $font-size-medium-large;
  padding-top: 20px;
  padding-bottom: 25px;
}

form {
  padding-top: 10px;
  padding-bottom: 20px;
}

textarea {
  @include input;
  height: 150px;
  border-bottom-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: $font-size-regular;
  line-height: 150%;
  padding: 20px;
  font-weight: $font-weight-lighter;

  &:focus {
    border-color: $grey-green;
    border-bottom-color: white;
    font-weight: $font-weight-lighter;
  }
}

input[type="text"] {
  @include input;
  height: 20px;
  border-top-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: -1px;
  font-size: $font-size-small;
  color: $medium-green;
  padding: 20px;
  font-weight: $font-weight-lighter;

  &:focus {
    border-color: $grey-green;
    border-top-color: white;
  }
}

::placeholder {
  color: $medium-green;
}

.save-button {
  @include button;
  width: 120px;
  background-color: $bright-green;
  color: white;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  font-size: $font-size-regular;
  font-weight: $font-weight-lighter;
  margin-right: 10px;

  &:hover {
    background-color: $dark-bright-green;
    color: #ECFAEF;
  }

  &:disabled {
    background-color: #E6E9EE;
    color: $medium-green;
  }
}


.cancel-button {
  @include button;
  width: 120px;
  background-color: $light-green;
  color: #202327;
  border: 1px solid $grey-green;
  padding: 15px 32px;
  display: inline-block;
  font-size: $font-size-regular;
  font-weight: $font-weight-lighter;

  &:hover {
    background-color: #E8EAEF;
    color: black;
  }
}

.buttons {
  padding-top: 20px;
  padding-bottom: 10px;
}

.timestamp {
  display: inline-block;
  font-size: 18px;
}

.pencil {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
}

.trash {
  display: inline-block;
  padding-right: 10px;
  visibility: hidden;
}

.confirm-delete {
  display: none;
  word-spacing: 3px;
}

.article {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  line-height: 150%;

  &:hover {
    .pencil, .trash {
      visibility: visible;
    }
  }
}

.article-content {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
}

.tags {
  font-size: $font-size-small;
}

a {
  color: $medium-green;
  text-decoration: none;

  &:visited {
    color: $medium-green;
    text-decoration: none;
  }

  &:hover {
    color: #5D6E69;
    cursor: pointer;
  }
}

.back {
  padding-left: 20px;
  padding-top: 10px;
}

.pagination {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  word-spacing: 10px;
}
